*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    padding: 2vh 5vw;
}

/* LOGO */
.logo {
    width: 8vw;
    min-width: 80px;
    transition: 0.5s;
}

/* CONTEÚDO PRINCIPAL */
.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* TEXTO */
.caixa-texto {
   width: 50%;
}

h1{
    color: #333;
    font-size: 4vw;
}

span {
    color: #017143;
    font-size: 4.5vw;
    font-weight: 900;
}

p {
    font-size: 1.2vw;
}

button {
   background: #017143;
   color: white;
   border-radius: 40px;
   padding: 1vh 2vw;
   border: none;
   margin-top: 2vh;
   cursor: pointer;
   transition: 0.5s;
}

/* IMAGEM */
.caixa-imagem{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.copao {
    width: 25vw;
    max-width: 300px;
    transition: 0.5s;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    gap: 2vw;
}

.botao-menu{
    width: 5vw;
    min-width: 50px;
    cursor: pointer;
    transition: 0.5s;
}

/* HOVERS */
.botao-menu:hover{
    transform: translateY(-2vh);
}

.copao:hover{
    transform: translateY(-2vh);
}

.logo:hover{
    transform: translateY(2vh);
}

/* FUNDO */
.circulo{
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(40vw at right 20vh);
    z-index: -1;
}

/* RESPONSIVIDADE */
@media (max-width: 768px){

    .conteudo{
        flex-direction: column;
        text-align: center;
    }

    .caixa-texto{
        width: 100%;
    }

    .caixa-imagem{
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
    }

    h1{
        font-size: 8vw;
    }

    span{
        font-size: 9vw;
    }

    p{
        font-size: 3.5vw;
    }

    .copao{
        width: 50vw;
    }

    .botao-menu{
        width: 12vw;
    }

    .logo{
        width: 20vw;
    }
}